@charset "UTF-8";
@font-face {
  font-family: 'FonteLogo';
  src: url("../_fonts/bubblegum-sans-regular.otf");
}
body {
  font-family: Arial, Helvetica, sans-serif;
    background-color: #477c9c;
    color: rgba(0, 0, 0, 1);
  }

  div#interface {
    width: 1200px;
    background-color: #ffffff;
    margin: -15px auto 0px auto ; 
    box-shadow: 0px 0px 10px black;/* Area externa ao objeto */
    padding: 10px;/* Area interna */
  }

  p {
    text-align: justify;
    text-indent: 25px;
  }

  a {
    color: #477c9c;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  a.Tvideo {
    color: white;
  }

  header#cabecalho img#Icone{
    position: absolute;
    left: 1100px;
    top: -30px;
    height: 250px;
    width: 350px;
    transform: scale(0.3); /* Diminui a imagem em 50% */
    object-fit: contain;
  }

  header#cabecalho img#Icone2{
    position: absolute;
    left: 1180px;
    top: 40px;
    height: 190px;
    width: 250px;
    object-fit: contain;
  }

  header#cabecalho {
    border-bottom: 1px #B5C2CA solid;
    height: 150px;
    
  }

  header#cabecalho h1 {
    font-family: 'FonteLogo', sans-serif;
    font-size: 30px;
    color: #477c9c;
    text-shadow: 1px 1px 1px black;
    padding: 0px;
    margin-bottom: 0px;
  }

  header#cabecalho h2{
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: #B5C2CA;
    padding: 0px;
    margin-top: 0px;
  }
  /* Formtação de imagens com legendas */

  figure.foto-legenda{
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;
  }

  figure.foto-legenda img{
    width: 100%;
    height: 100%;
  }

  figure.foto-legenda figcaption{
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0,0,0,.4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
  }

  figure.foto-legenda:hover figcaption{
    opacity: 1;
  }

  .video-custom {
    width: 450px;
    height:250px;
  }
  
  /* formatação de menu */

  nav#menu{
    display: block;
  }

nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 880px;
}

nav#menu li {
    display: inline-block;
    background-color: #B5C2CA;
    padding: 10px;
    margin: 2px;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;
}

nav#menu li:hover {
    background-color: #477c9c;
}

nav#menu h1{
    display: none;
}

nav#menu a{
    color: #000000;
    text-decoration: none;
}

nav#menu a:hover{
    color: white;
    text-decoration: underline;
}

section#corpo {
  display: block;
  width: 600px;
  float: left;
  border-right: 1px solid #B5C2CA;
  padding-right: 15px;
}

article#noticia-principal h2 {
  font-size: 20pt;
  color: #606060;
  background-color: #B5C2CA;
  padding: 5px 0px 5px 10px;
  margin: 10px 0px 10px 0px;
}

header#cabecalho-artigo h1{
  font-family: 'FonteLogo', sans-serif;
  font-size: 20pt;
  color: #477c9c;
  margin-bottom: 0px;
  margin-top: 0px;
}
header#cabecalho-artigo h2{
  font-size: 13pt;
  color: #477c9c;
  background-color: white;
  margin: 0px;
}
header#cabecalho-artigo h3{
  font-size: 12px;
  color: #477c9c;
}
.direita {
  text-align: right;
  margin-top: 0px;
}

table#tabelaSpec {
  border: 1px solid #606060;
  border-spacing: 0px;
  margin-left: auto;
  margin-right: auto;
}

table#tabelaSpec td{
  border: 1px solid #606060;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}

table#tabelaSpec td.ce {   /* alteração para a clase 'ce' */
  color: white;
  background-color: #606060;
  vertical-align: top;
  font-weight: bold;
}

table#tabelaSpec td.cd {
  background-color: #cececece;
}

table#tabelaSpec caption{
  color: #888888;
  font-size: 18px;
  font-weight: bold;
}

table#tabelaSpec caption span{
  display: block;
  font-size: 10px;
  float: right;
  color: black;
  margin-top: 10px;  
}
aside#lateral {
  display: block;
  width: 500px;
  float: right;
  background-color: #477c9c;
  padding: 35px;
  margin-top: 10px;
  margin-right: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

aside#lateral h1 {
  font-family: 'FonteLogo', sans-serif;
  font-size: 20pt;
  color: #ffffff;
  margin-top: 0px;
}

aside#lateral h2 {
  background-color: #B5C2CA;
  font-size: 12pt;
  color: white;
  padding: 5px;
}

footer#rodape {
  clear: both;
  border-top: 1px solid #3d0caf;
}

footer#rodape p {
  text-align: center;
}

.form-card,
.map-card {
    width: 100%;
    padding: 20px;
}

.form-card .card-title,
.map-card .card-title {
    margin-bottom: 20px;
}

.form-card .form-group {
    margin-bottom: 20px;
}

.map-card iframe {
    width: 100%;
    height: 300px;
}
.card-img-top{
  width: 60px;
}

#produtos {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#produtos h2 {
    text-align: center;
    color: #333;
}

.product-list {
    list-style: none;
    padding: 0;
}

.product-list li {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fafafa;
}

.product-list h3 {
    margin-top: 0;
    color: #007BFF;
}

.product-list p {
    margin: 10px 0 0;
    color: #555;
}

.btn-primary:hover {
  background-color: #004d80;
}

.btn-primary {
  background-color: #0056b3;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  position: absolute;
    left: 400px;
    top: 1275px;
}

.btn-custom {
  display: inline-block !important;
  border-radius: 25px !important;
  overflow: hidden !important;
  border: 2px solid #B5C2CA !important;
  background-color: #477C9C !important;
}

.btn-secondary{
  background-color: #477C9C !important
}
